# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# python
__pycache__/
*.py[cod]

# other
eclipse
run
runs
run-data

repo

.vscode
